<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_false.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,277},{98,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,74}}</string>
                <key>sourceSize</key>
                <string>{98,74}</string>
            </dict>
            <key>btn_true.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,201},{98,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,74}}</string>
                <key>sourceSize</key>
                <string>{98,74}</string>
            </dict>
            <key>buy_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{196,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,197}}</string>
                <key>sourceSize</key>
                <string>{196,197}</string>
            </dict>
            <key>buy_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{472,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{472,371}}</string>
                <key>sourceSize</key>
                <string>{474,371}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buyFree.png</string>
            <key>size</key>
            <string>{674,375}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3a2acca932a2863669dc2872b3ff706$</string>
            <key>textureFileName</key>
            <string>buyFree.png</string>
        </dict>
    </dict>
</plist>
