<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{10,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,7}}</string>
                <key>sourceSize</key>
                <string>{10,7}</string>
            </dict>
            <key>oval.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{59,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>winLine.png</string>
            <key>size</key>
            <string>{63,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80ab3f2a36215b41cc22e37733f8f91b$</string>
            <key>textureFileName</key>
            <string>winLine.png</string>
        </dict>
    </dict>
</plist>
