<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar_rankbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1884},{208,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,28}}</string>
                <key>sourceSize</key>
                <string>{208,28}</string>
            </dict>
            <key>bar_strip.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1878},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1410,1410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1410,1410}}</string>
                <key>sourceSize</key>
                <string>{1410,1410}</string>
            </dict>
            <key>bg_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1414},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>bg_fillet20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,1850},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bg_round130.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1746},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>bg_round48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1708},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>btn_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,1516},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>btn_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,1414},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>btn_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1546},{81,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{81,114}}</string>
                <key>sourceSize</key>
                <string>{111,144}</string>
            </dict>
            <key>btn_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1414},{330,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,120}}</string>
                <key>sourceSize</key>
                <string>{330,120}</string>
            </dict>
            <key>btn_goun.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1414},{330,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,120}}</string>
                <key>sourceSize</key>
                <string>{330,120}</string>
            </dict>
            <key>btn_mi_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,1756},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{78,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_mi_close_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,1756},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{78,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_mi_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1758},{78,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{78,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,1676},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{78,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_word_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1746},{131,47}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,18},{131,47}}</string>
                <key>sourceSize</key>
                <string>{139,81}</string>
            </dict>
            <key>btn_word_get00.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1746},{135,47}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{135,47}}</string>
                <key>sourceSize</key>
                <string>{141,67}</string>
            </dict>
            <key>btn_word_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,1546},{87,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,46}}</string>
                <key>sourceSize</key>
                <string>{87,46}</string>
            </dict>
            <key>btn_word_go_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,1498},{87,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,46}}</string>
                <key>sourceSize</key>
                <string>{87,46}</string>
            </dict>
            <key>default_color.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{830,1878},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>dis_skin01_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1414},{110,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{110,130}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>dis_skin01_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1746},{110,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{110,130}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>i_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,1547},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>i_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,1618},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>i_month.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,1503},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>i_rank00.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1878},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>i_rank01.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1879},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>i_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1840},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>item_i01.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1746},{136,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{136,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item_i01g.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1746},{136,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{136,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item_i02.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1414},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{102,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item_i02g.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1744},{94,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{94,104}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item_i03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,1594},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{80,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item_i03g.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1672},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{72,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item_titlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1850},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>itembg100.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1746},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>itembg101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1746},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>itembg200.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,1414},{82,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,87}}</string>
                <key>sourceSize</key>
                <string>{82,87}</string>
            </dict>
            <key>itembg201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1414},{82,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,87}}</string>
                <key>sourceSize</key>
                <string>{82,87}</string>
            </dict>
            <key>m_coin102.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1414},{298,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,330}}</string>
                <key>sourceSize</key>
                <string>{298,330}</string>
            </dict>
            <key>m_coin202.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1414},{298,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,330}}</string>
                <key>sourceSize</key>
                <string>{298,330}</string>
            </dict>
            <key>m_coin_g101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1636},{106,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{106,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>m_coin_g102.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1746},{50,108}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,1},{50,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>m_coin_g103.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1878},{28,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,2},{28,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>m_coin_g104.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1746},{50,108}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,1},{50,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>m_coin_s101.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,1528},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{106,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>m_coin_s102.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1856},{50,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{50,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>m_coin_s103.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1884},{28,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,3},{28,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>m_coin_s104.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1746},{50,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,2},{50,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>mine_coin_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,1665},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>mine_coin_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,1595},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>mine_coinbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1546},{124,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{124,68}}</string>
                <key>sourceSize</key>
                <string>{136,80}</string>
            </dict>
            <key>notshow_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,1506},{82,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,87}}</string>
                <key>sourceSize</key>
                <string>{82,87}</string>
            </dict>
            <key>notshow_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1662},{82,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,87}}</string>
                <key>sourceSize</key>
                <string>{82,87}</string>
            </dict>
            <key>rank_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1856},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1878},{19,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,16}}</string>
                <key>sourceSize</key>
                <string>{19,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_ui.png</string>
            <key>size</key>
            <string>{1414,1914}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77c41250aded63581ffa0476846f64db$</string>
            <key>textureFileName</key>
            <string>game_ui.png</string>
        </dict>
    </dict>
</plist>
