<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auto_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,456},{90,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,67}}</string>
                <key>sourceSize</key>
                <string>{90,67}</string>
            </dict>
            <key>auto_bg_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,387},{90,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,67}}</string>
                <key>sourceSize</key>
                <string>{90,67}</string>
            </dict>
            <key>auto_bg_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,322},{251,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,67}}</string>
                <key>sourceSize</key>
                <string>{251,67}</string>
            </dict>
            <key>auto_bg_l_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,322},{251,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,67}}</string>
                <key>sourceSize</key>
                <string>{251,67}</string>
            </dict>
            <key>bet2_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,664},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bet2_toggle_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,664},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bet2_toggle_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,664},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{340,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,67}}</string>
                <key>sourceSize</key>
                <string>{340,67}</string>
            </dict>
            <key>bet_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,575},{124,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{124,70}}</string>
                <key>sourceSize</key>
                <string>{130,72}</string>
            </dict>
            <key>bet_btn_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,572},{128,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,72}}</string>
                <key>sourceSize</key>
                <string>{130,72}</string>
            </dict>
            <key>bet_panel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,500}}</string>
                <key>sourceSize</key>
                <string>{318,500}</string>
            </dict>
            <key>btn_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,562},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>btn_bg_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,322},{144,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,60}}</string>
                <key>sourceSize</key>
                <string>{144,60}</string>
            </dict>
            <key>default_color.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{278,322},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>default_color_br.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,480},{67,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,90}}</string>
                <key>sourceSize</key>
                <string>{67,90}</string>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,567},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>icon_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,322},{39,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,63}}</string>
                <key>sourceSize</key>
                <string>{39,63}</string>
            </dict>
            <key>icon_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,575},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>icon_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,491},{69,65}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,13},{69,65}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>icon_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,491},{66,74}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{66,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>icon_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,622},{66,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{66,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_reduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,664},{35,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{35,11}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>icon_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,525},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{72,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>iocn_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,599},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>load_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,384},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>switch_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,322},{156,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,67}}</string>
                <key>sourceSize</key>
                <string>{156,67}</string>
            </dict>
            <key>switch_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,622},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_setting.png</string>
            <key>size</key>
            <string>{505,702}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:636a0226eecea7e0fb0947c3bce6b15a$</string>
            <key>textureFileName</key>
            <string>game_setting.png</string>
        </dict>
    </dict>
</plist>
