<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_d1_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,118}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{110,118}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>m_d1_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{108,112}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,18},{108,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>m_d1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{110,112}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{110,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet_1.png</string>
            <key>size</key>
            <string>{350,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed7f825e90b51142e98de3b1d5c5c892$</string>
            <key>textureFileName</key>
            <string>pet_1.png</string>
        </dict>
    </dict>
</plist>
