<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>symbol_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,124},{130,130}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{130,130}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>symbol_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,256},{112,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{112,128}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>symbol_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,552}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{264,552}}</string>
                <key>sourceSize</key>
                <string>{280,570}</string>
            </dict>
            <key>symbol_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,552}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{264,552}}</string>
                <key>sourceSize</key>
                <string>{280,570}</string>
            </dict>
            <key>symbol_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{178,180}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{178,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>symbol_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,512},{110,124}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,22},{110,124}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>symbol_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,386},{112,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,23},{112,124}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>symbol_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,886},{100,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{100,128}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>symbol_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{148,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{148,120}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>symbol_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{156,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{156,132}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>symbol_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{160,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{160,146}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>symbol_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,844},{156,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{156,160}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>symbol_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,638},{172,204}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,2},{172,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>symbol.png</string>
            <key>size</key>
            <string>{420,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a52514d1c28cba5caca8ea340eb9919b$</string>
            <key>textureFileName</key>
            <string>symbol.png</string>
        </dict>
    </dict>
</plist>
