<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Actor1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-38}</string>
                <key>spriteSize</key>
                <string>{161,150}</string>
                <key>spriteSourceSize</key>
                <string>{229,226}</string>
                <key>textureRect</key>
                <string>{{170,169},{161,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Actor1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-37}</string>
                <key>spriteSize</key>
                <string>{157,152}</string>
                <key>spriteSourceSize</key>
                <string>{229,226}</string>
                <key>textureRect</key>
                <string>{{353,1},{157,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Actor1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-38}</string>
                <key>spriteSize</key>
                <string>{177,150}</string>
                <key>spriteSourceSize</key>
                <string>{229,226}</string>
                <key>textureRect</key>
                <string>{{1,1},{177,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Actor1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-30}</string>
                <key>spriteSize</key>
                <string>{171,166}</string>
                <key>spriteSourceSize</key>
                <string>{229,226}</string>
                <key>textureRect</key>
                <string>{{180,1},{171,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Actor1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-36}</string>
                <key>spriteSize</key>
                <string>{159,154}</string>
                <key>spriteSourceSize</key>
                <string>{229,226}</string>
                <key>textureRect</key>
                <string>{{1,309},{159,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Actor1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-37}</string>
                <key>spriteSize</key>
                <string>{155,152}</string>
                <key>spriteSourceSize</key>
                <string>{229,226}</string>
                <key>textureRect</key>
                <string>{{353,155},{155,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Actor1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-36}</string>
                <key>spriteSize</key>
                <string>{167,154}</string>
                <key>spriteSourceSize</key>
                <string>{229,226}</string>
                <key>textureRect</key>
                <string>{{1,153},{167,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Actor1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-38}</string>
                <key>spriteSize</key>
                <string>{159,150}</string>
                <key>spriteSourceSize</key>
                <string>{229,226}</string>
                <key>textureRect</key>
                <string>{{333,309},{159,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Actor1.png</string>
            <key>size</key>
            <string>{511,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:640332430f62ec926d63d8a330d7fc61:3f7cca3d97b764a98958acb619b46a62:6d759e9bf98c84797ebb08285143436a$</string>
            <key>textureFileName</key>
            <string>Actor1.png</string>
        </dict>
    </dict>
</plist>
