<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>People1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-36}</string>
                <key>spriteSize</key>
                <string>{139,154}</string>
                <key>spriteSourceSize</key>
                <string>{229,226}</string>
                <key>textureRect</key>
                <string>{{1,1},{139,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>People1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-37}</string>
                <key>spriteSize</key>
                <string>{145,152}</string>
                <key>spriteSourceSize</key>
                <string>{229,226}</string>
                <key>textureRect</key>
                <string>{{157,1},{145,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>People1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-36}</string>
                <key>spriteSize</key>
                <string>{165,154}</string>
                <key>spriteSourceSize</key>
                <string>{229,226}</string>
                <key>textureRect</key>
                <string>{{330,149},{165,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>People1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-40}</string>
                <key>spriteSize</key>
                <string>{179,146}</string>
                <key>spriteSourceSize</key>
                <string>{229,226}</string>
                <key>textureRect</key>
                <string>{{311,1},{179,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>People1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-37}</string>
                <key>spriteSize</key>
                <string>{173,152}</string>
                <key>spriteSourceSize</key>
                <string>{229,226}</string>
                <key>textureRect</key>
                <string>{{155,149},{173,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>People1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-37}</string>
                <key>spriteSize</key>
                <string>{151,152}</string>
                <key>spriteSourceSize</key>
                <string>{229,226}</string>
                <key>textureRect</key>
                <string>{{1,142},{151,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>People1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-36}</string>
                <key>spriteSize</key>
                <string>{187,154}</string>
                <key>spriteSourceSize</key>
                <string>{229,226}</string>
                <key>textureRect</key>
                <string>{{1,303},{187,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>People1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{189,170}</string>
                <key>spriteSourceSize</key>
                <string>{229,226}</string>
                <key>textureRect</key>
                <string>{{190,305},{189,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>People1.png</string>
            <key>size</key>
            <string>{496,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25d8a264582f8bd59fa48d8c541be6e0:bea4076a1cac6c73b239980304ab0ac7:21b805181bb0d004e86e1c5e0026c422$</string>
            <key>textureFileName</key>
            <string>People1.png</string>
        </dict>
    </dict>
</plist>
